body{
    background: radial-gradient(circle, #ffffff, #8dc6f5);
    margin: 5px;
    padding: 10px;
    font-family: "Century Gothic";
}

.heading h1{
    text-align: center;
    font-size: 40px;
    color: #15034c;
    text-decoration: underline;
    text-decoration-color: #15034c;
}

img{
    border: 10px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #00ff4c, #3a40ff);
    background-origin: border-box;  
    background-clip: border-box;
}

.content p{
    font-size: 24px;
    text-align: justify;
    font-weight: bolder;
}

.navigator{
    ul{
    font-size: 20px;
    font-weight: bold;
    border: 12px solid transparent;
    border-radius: 16px;
    background-image: linear-gradient(45deg, #00ff4c, #3a40ff);
    background-origin: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    }

    ul li{
        align-items: center;
    }

    ul li ul.dropdown{
        position: relative;
        border: none;
    }

    ul li ul.dropdown li{
        display: none;
    }

    ul li:hover ul.dropdown li{
        display: block;
        border: 5px solid transparent;
    }

    ul li a{
        color: #FFF;
        text-decoration: none;
    }

    ul li a:hover{
        color: #b9beff;
    }

    ul li a:active{
        color: #0004ff;
    }
}

.back-button{
     ul{
    font-size: 20px;
    font-weight: bold;
    border: 12px solid transparent;
    border-radius: 16px;
    background-image: linear-gradient(45deg, #00ff4c, #3a40ff);
    background-origin: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    position: absolute;
    }

    ul li{
        align-items: center;
    }

        ul li a{
        color: #FFF;
        text-decoration: none;
    }

    ul li a:hover{
        color: #b9beff;
    }

    ul li a:active{
        color: #0004ff;
    }
}